
            <div class="container">
            <section id="maincontent" class="twelve columns">
                <section id="content" class="positionleft nine columns alpha"> 
                    <div class="padcontent">
                    
                        <article class="post">
                            <h2 class="posttitle"><a href="single">Aliquam luctus rhoncus eros, non malesuada nunc.</a></h2>
                            <div class="entry-utility">
                                June 22, 2012&nbsp;&nbsp;/&nbsp;&nbsp;Tags: <a href="#">Wordpress</a>&nbsp;&nbsp;/&nbsp;&nbsp;Posted by <a href="#">Templatesquare</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">0 Comment</a>
                            </div>
                            <div class="postimg">
                                <img src="images/content/post1.jpg" alt="" class="scale-with-grid" />
                            </div>
                            <div class="entry-content">
                                <p>Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scelerisque, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo. </p>
                                <p>Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.</p>
                                 <a href="single" class="more-link">Read More &rarr;</a>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        <article class="post">
                            <h2 class="posttitle"><a href="single">Aliquam luctus rhoncus eros, non malesuada nunc.</a></h2>
                            <div class="entry-utility">
                                June 20, 2012&nbsp;&nbsp;/&nbsp;&nbsp;Tags: <a href="#">Wordpress</a>&nbsp;&nbsp;/&nbsp;&nbsp;Posted by <a href="#">Templatesquare</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">0 Comment</a>
                            </div>
                            <div class="postimg">
                                <img src="images/content/post2.jpg" alt="" class="scale-with-grid" />
                            </div>
                            <div class="entry-content">
                                <p>Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scelerisque, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo. </p>
                                <p>Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.</p>
                                <a href="single" class="more-link">Read More &rarr;</a>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        <article class="post">
                            <h2 class="posttitle"><a href="single">Aliquam luctus rhoncus eros, non malesuada nunc.</a></h2>
                            <div class="entry-utility">
                                June 15, 2012&nbsp;&nbsp;/&nbsp;&nbsp;Tags: <a href="#">Wordpress</a>&nbsp;&nbsp;/&nbsp;&nbsp;Posted by <a href="#">Templatesquare</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">0 Comment</a>
                            </div>
                            <div class="postimg">
                                <img src="images/content/post3.jpg" alt="" class="scale-with-grid" />
                            </div>
                            <div class="entry-content">
                                <p>Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scelerisque, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo. </p>
                                <p>Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.</p>
                                 <a href="single" class="more-link">Read More &rarr;</a>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        
                        <div class="pagenav">
                            <span class="prevpost"><a href="#">&larr; Older Post</a></span>
                            <span class="nextpost"><a href="#">Newer Post &rarr;</a></span>
                        </div>
                        
                    </div><!-- end padcontent -->
                </section><!-- end content -->
                <aside id="sidebar" class="positionright three columns omega">
                    <ul>
                         <li class="widget-container">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                <li><a href="#">Interaction Design</a></li>
                                <li><a href="#">Worpdress</a></li>
                                <li><a href="#">Design Strategy</a></li>
                                <li><a href="#">Photography and Illustrator</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </li>
                        <li class="widget-container">
                            <h2 class="widget-title">Text Widget</h2>
                            <div class="textwidget">Pellentesque at mauris fringilla nunc sollicitudin vehicula. Aliquam et nibh ipsum, vel porta augue. Sed dolor ligula, facilisis.</div>
                        </li>
                        <li class="widget-container">
                            <h2 class="widget-title">Latest Post</h2>
                            <ul class="rp-widget">
                                <li>
                                    <img src="images/content/lp1.jpg" alt="" class="alignleft" />
                                    <h3><a href="#">New Theme Released</a></h3>
                                    <span class="smalldate">April 27, 2012</span>
                                    <span class="clear"></span>
                                </li>
                                <li>
                                    <img src="images/content/lp2.jpg" alt="" class="alignleft" />
                                    <h3><a href="#">Premium Wordpress</a></h3>
                                    <span class="smalldate">April 22, 2012</span>
                                    <span class="clear"></span>
                                </li>
                                <li class="last">
                                    <img src="images/content/lp3.jpg" alt="" class="alignleft" />
                                    <h3><a href="#">We Create the Design</a></h3>
                                    <span class="smalldate">April 20, 2012</span>
                                    <span class="clear"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside><!-- end sidebar -->
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>