
            <div class="container">
            <section id="maincontent" class="twelve columns">
                
                <h3 class="titleUppercase">Find us on Map</h3>
                 <iframe src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Jalan+Kemanggisan+Utama,+Jakarta,+Indonesia&amp;sll=37.0625,-95.677068&amp;sspn=46.092115,79.013672&amp;ie=UTF8&amp;hq=&amp;hnear=Jalan+Kemanggisan+Utama,+Jakarta+Barat,+Jakarta,+Indonesia&amp;ll=-6.189793,106.7908&amp;spn=0.016639,0.034246&amp;z=14&amp;iwloc=A&amp;output=embed" style="width:100%; height:314px;"></iframe>
                 
                 <div class="separator line"></div>
                 
                 <div class="four columns alpha">
                    <h3 class="titleUppercase">Contact Info</h3>
                    <p>30 South Park Avenue Blvd<br />
                    San Francisco, CA 12345<br />
                    USA</p>
                    
                    <p>
                    Phone: +800 123 456<br />
                    Fax: +800 123 456<br />
                    Email: <a href="mailto:testmail@yourdomain.com">testmail@yourdomain.com</a><br />
                    Web: <a href="http://www.templatesquare.com">www.templatesquare.com</a>
                    </p>
                 </div>
                 <div class="eight columns omega">
                    <h3 class="titleUppercase">Contact Form</h3>
                    <div id="contactform">
                          <form id="contact" action="#" />
                            <fieldset>
                                <span class="error" id="name_error">Please enter name !</span>
                                <span class="error" id="email_error">Please enter email address !</span>
                                <span class="error" id="email_error2">Please enter valid email address !</span>
                                <span class="error" id="msg_error">Please enter message !</span>
                                <input type="text" name="name" id="name" value="" class="text-input" /><label for="name" id="name_label">Your Name</label>
                                <input type="text" name="email" id="email" value="" class="text-input" /><label for="email" id="email_label">Your E-mail</label>
                                <input type="text" name="subject" id="subject" value="" class="text-input" /><label for="subject" id="subject_label">Subject</label>
                                <textarea cols="60" rows="10" name="msg" id="msg" class="text-input"></textarea>
                                <br /><br class="clear" />
                                <input type="submit" name="submit" class="button" id="submit_btn" value="Send Message" />
                            </fieldset>
                          </form>
                    </div><!-- end contactform -->
                 </div>
                 

                                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>