
            <div class="container">
            <section id="maincontent" class="twelve columns">
            
                <div class="highlight-content">
                    <h1>Hello! We Are Discover and We Make A Great Website Themes</h1>
                    <h3>Let's take a tour and you'll love this theme</h3>
                </div>
                
                <div class="one_third firstcols">
                    <img src="images/icons/icon1.png" alt="" class="alignleft" /><h5 class="titleUppercase valignmiddle">Homepage Option</h5>
                    Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. Morbi molestie volutpat elementum...
                </div>
                <div class="one_third">
                    <img src="images/icons/icon2.png" alt="" class="alignleft" /><h5 class="titleUppercase valignmiddle">Flexible and Easy</h5>
                    Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. Morbi molestie volutpat elementum...
                </div>
                <div class="one_third lastcols">
                    <img src="images/icons/icon3.png" alt="" class="alignleft" /><h5 class="titleUppercase valignmiddle">Creative and Simple</h5>
                    Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. Morbi molestie volutpat elementum...
                </div>
                
                <div class="separator"></div>
                
                <div class="one_third firstcols">
                    <img src="images/icons/icon4.png" alt="" class="alignleft" /><h5 class="titleUppercase valignmiddle">Ready for Content</h5>
                    Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. Morbi molestie volutpat elementum...
                </div>
                <div class="one_third">
                    <img src="images/icons/icon5.png" alt="" class="alignleft" /><h5 class="titleUppercase valignmiddle">Corporate Your Own</h5>
                    Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. Morbi molestie volutpat elementum...
                </div>
                <div class="one_third lastcols">
                    <img src="images/icons/icon6.png" alt="" class="alignleft" /><h5 class="titleUppercase valignmiddle">Perfect Web Design</h5>
                    Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. Morbi molestie volutpat elementum...
                </div>
                
                <div class="separator line"></div>
                
                <div class="nine columns alpha">
                
                    <div class="one_half firstcols lastcols">
                        <div class="padsmallright">
                            <h3 class="titleUppercase">About Us</h3>
                            <img src="images/content/pic1.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                            <p>Pellentesque ac ante arcu. Mauris quis nunc velit. Praesent hendrerit bibendum libero, vitae fermentum eros bibendum eget. </p>
                            <p>Nunc tortor ante, accumsan vel malesuada vulputate, tempus quis dolor. In ut purus nulla.</p>
                        </div>
                    </div>
                    
                    <div class="linever" style="height:340px;"></div>
                    
                    <div class="one_half firstcols lastcols">
                        <div class="padsmallleft">
                            <h3 class="titleUppercase">What We Offer</h3>
                            <h5 class="margin_bottom_small">Video Support</h5>
                            <p>Proin libero magna, suscipit quis lacinia eget, sollicitudin in elit. Vivamus adipiscing, turpis quis pharetra auctor, nisi purus laoreet mi.</p>
                            <h5 class="margin_bottom_small">Framework</h5>
                            <p>Proin libero magna, suscipit quis lacinia eget, sollicitudin in elit. Vivamus adipiscing, turpis quis pharetra auctor, nisi purus laoreet mi.</p>
                            <h5 class="margin_bottom_small">Beautiful Design</h5>
                            <p>Proin libero magna, suscipit quis lacinia eget, sollicitudin in elit. Vivamus adipiscing, turpis quis pharetra auctor, nisi purus laoreet mi.</p>
                        </div>
                    </div>
                
                </div>
                <div class="three columns omega">
                    <ul class="ts-accordion">
                        <li>
                            <h2 class="accordion-title"><span class="accordion-icon"></span>Did You Know ?</h2>
                            <div class="accordion-content">Aliquam luctus rhoncus eros, non malesuada nunc consectetur a. Donec tristique rhoncus libero vitae cursus. </div>
                        </li>
                        <li>
                            <h2 class="accordion-title"><span class="accordion-icon"></span>Online Tips</h2>
                            <div class="accordion-content">Aliquam luctus rhoncus eros, non malesuada nunc consectetur a. Donec tristique rhoncus libero vitae cursus. </div>
                        </li>
                        <li>
                            <h2 class="accordion-title"><span class="accordion-icon"></span>FAQs</h2>
                            <div class="accordion-content">Aliquam luctus rhoncus eros, non malesuada nunc consectetur a. Donec tristique rhoncus libero vitae cursus. </div>
                        </li>
                        <li>
                            <h2 class="accordion-title"><span class="accordion-icon"></span>Testimonials</h2>
                            <div class="accordion-content">Aliquam luctus rhoncus eros, non malesuada nunc consectetur a. Donec tristique rhoncus libero vitae cursus. </div>
                        </li>
                    </ul>
                </div>
                
                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>