
            <div class="container">
            <section id="maincontent" class="twelve columns">
                
                 <h3 class="titleUppercase">Our Portfolio</h3>
                <div id="ts-display-portfolio">
                <ul class="ts-display-pf-col-4">
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_1.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_1.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                            
                        </div>
                        <div class="ts-display-clear"></div>
                
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                          <a class="image" href="images/content/pf/pf4_2.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                          <img src="images/content/pf/pf4_2.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                    
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_3.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_3.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                                
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li class="nomargin">
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_4.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_4.jpg" alt="" class="scale-with-grid" /></a>    
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                                
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_5.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_5.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>   
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_6.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_6.jpg" alt="" class="scale-with-grid" /></a>    
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                                
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_7.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_7.jpg" alt="" class="scale-with-grid" /></a>    
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                                
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li class="nomargin">
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_8.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_8.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>   
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_9.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_9.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>   
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_10.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_10.jpg" alt="" class="scale-with-grid" /></a>   
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                                
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li>
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_11.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_11.jpg" alt="" class="scale-with-grid" /></a>   
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>
                                
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                    <li class="nomargin">
                        <div class="ts-display-pf-img">
                            <a class="image" href="images/content/pf/pf4_12.jpg" data-rel="prettyPhoto[mixed]">
                            <span class="rollover"></span>
                            <img src="images/content/pf/pf4_12.jpg" alt="" class="scale-with-grid" /></a>
                        </div>
                        <div class="ts-display-pf-text">
                            <h2><a href="#">Portfolio Item Title</a></h2>
                            <p>Donec eget felis in ligula bibendum gravida consectetur at dolor. Cras iaculis felis. </p>   
                        </div>
                        <div class="ts-display-clear"></div>
                    </li>
                </ul>
                
                </div>
                                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>