
            <div class="container">
            <section id="maincontent" class="twelve columns">
                
                <h3 class="titleUppercase">Our Service Overview</h3>
                <ul class="inlinelist">
                    <li class="three columns alpha">
                        <div class="circle large">
                            <div class="circle-content">
                            <h5 class="titleRegularItalic">~ Plan and Research ~</h5>
                            <p><img src="images/icons/icon7.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                    <li class="three columns">
                        <div class="circle large">
                            <div class="circle-content">
                            <h5 class="titleRegularItalic">~ Ideas and Design ~</h5>
                            <p><img src="images/icons/icon8.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                    <li class="three columns">
                        <div class="circle large">
                            <div class="circle-content">
                            <h5 class="titleRegularItalic">~ Development  ~</h5>
                            <p><img src="images/icons/icon9.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                    <li class="three columns omega">
                        <div class="circle large">
                            <div class="circle-content">
                            <h5 class="titleRegularItalic">~ Publication  ~</h5>
                            <p><img src="images/icons/icon10.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                
                <div class="separator line"></div>
                
                <ul class="inlinelist">
                    <li class="four columns alpha">
                        <img src="images/content/pic6.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                        <h5 class="margin_bottom_middle">Web Design</h5>
                        <span>Curabitur quis lorem eget purus tempor accumsan. Etiam dignissim mi in turpis volutpat consequat. Aliquam ultrices velit ac elit sodales...</span>
                    </li>
                    <li class="four columns">
                        <img src="images/content/pic7.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                        <h5 class="margin_bottom_middle">Web Development</h5>
                         <span>Curabitur quis lorem eget purus tempor accumsan. Etiam dignissim mi in turpis volutpat consequat. Aliquam ultrices velit ac elit sodales...</span>
                    </li>
                    <li class="four columns omega">
                        <img src="images/content/pic8.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                        <h5 class="margin_bottom_middle">Wordpress</h5>
                         <span>Curabitur quis lorem eget purus tempor accumsan. Etiam dignissim mi in turpis volutpat consequat. Aliquam ultrices velit ac elit sodales...</span>
                    </li>
                </ul>
                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
