

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Downloaded from KickassGFX.net</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/color.css" />
    <link id="layoutcss" href="styles/fullwidth-skin.css" rel="stylesheet" type="text/css" />
    <link href="styles/style-switcher.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    
    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	
            <header id="top">
            	<div class="container">
                    <div class="twelve columns">
                        <div id="logo" class="three columns alpha"><a href="index"><img src="images/logo.png" alt="" /></a></div>
                        <div id="headerright" class="nine columns omega">
                        	<span class="txttopright">Free Call: +800 123 456</span>
                            <ul class="sn">
                            	<li><a title="Pinterest" href="http://pinterest.com"><span style="background:url(images/social/pinterest.png)" class="icon-img"></span></a></li>
                                <li><a title="Twitter" href="http://twitter.com"><span style="background:url(images/social/twitter.png)" class="icon-img"></span></a></li>
                                <li><a title="Google Plus" href="http://plus.google.com"><span style="background:url(images/social/gplus.png)" class="icon-img"></span></a></li>
                                <li><a title="Facebook" href="http://facebook.com"><span style="background:url(images/social/facebook.png)" class="icon-img"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <section id="navigation">
                    <div class="container">
                        <nav id="nav-wrap" class="twelve columns">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About</a>
                                    <ul>
                                        <li><a href="element">Elements</a></li>
                                        <li><a href="single">Blog Details</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="service">Services</a></li>
                                <li><a href="portfolio">Portfolio</a></li>
                                <li class="current"><a href="blog">Blog</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul><!-- topnav -->
                        </nav><!-- nav -->	
                        <div class="clear"></div>
                      </div>
                </section>
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->
        
        <!-- AFTER HEADER -->
        <div id="outerafterheader">
        	<div id="headerimg"><img src="images/header/header4.jpg" alt="" /></div>
            <div class="container">
                <div id="afterheader" class="twelve columns">
                	<div class="pagetitle-container">
                        <h1 class="pagetitle">Blog</h1>
                        <span class="pagedesc">Nam hendrerit neque vitae nisl adipiscing in feugiat</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END AFTER HEADER -->
        
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
				<section id="content" class="positionleft nine columns alpha"> 
                	<div class="padcontent">
                    
                        <article class="post">
                            <h2 class="posttitle"><a href="single">Aliquam luctus rhoncus eros, non malesuada nunc.</a></h2>
                            <div class="entry-utility">
                                June 22, 2012&nbsp;&nbsp;/&nbsp;&nbsp;Tags: <a href="#">Wordpress</a>&nbsp;&nbsp;/&nbsp;&nbsp;Posted by <a href="#">Templatesquare</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">0 Comment</a>
                            </div>
                            <div class="postimg">
                                <img src="images/content/post1.jpg" alt="" class="scale-with-grid" />
                            </div>
                            <div class="entry-content">
                                <p>Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scelerisque, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo. </p>
                                <p>Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.</p>
                                 <a href="single" class="more-link">Read More &rarr;</a>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        <article class="post">
                            <h2 class="posttitle"><a href="single">Aliquam luctus rhoncus eros, non malesuada nunc.</a></h2>
                            <div class="entry-utility">
                                June 20, 2012&nbsp;&nbsp;/&nbsp;&nbsp;Tags: <a href="#">Wordpress</a>&nbsp;&nbsp;/&nbsp;&nbsp;Posted by <a href="#">Templatesquare</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">0 Comment</a>
                            </div>
                            <div class="postimg">
                                <img src="images/content/post2.jpg" alt="" class="scale-with-grid" />
                            </div>
                            <div class="entry-content">
                                <p>Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scelerisque, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo. </p>
                                <p>Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.</p>
                                <a href="single" class="more-link">Read More &rarr;</a>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        <article class="post">
                            <h2 class="posttitle"><a href="single">Aliquam luctus rhoncus eros, non malesuada nunc.</a></h2>
                            <div class="entry-utility">
                                June 15, 2012&nbsp;&nbsp;/&nbsp;&nbsp;Tags: <a href="#">Wordpress</a>&nbsp;&nbsp;/&nbsp;&nbsp;Posted by <a href="#">Templatesquare</a>&nbsp;&nbsp;/&nbsp;&nbsp;<a href="#">0 Comment</a>
                            </div>
                            <div class="postimg">
                                <img src="images/content/post3.jpg" alt="" class="scale-with-grid" />
                            </div>
                            <div class="entry-content">
                                <p>Curabitur tincidunt iaculis ipsum, eu malesuada tellus congue a. Quisque aliquet, enim eget consequat scelerisque, lectus nibh pulvinar lectus, ac vestibulum nisl urna quis magna. Quisque laoreet pulvinar orci, eget tempor ante consectetur in. Nullam et lorem ut magna aliquet eleifend scelerisque eu justo. </p>
                                <p>Maecenas sollicitudin, urna sit amet tristique euismod, tellus orci malesuada sapien, ut volutpat ante augue interdum leo. Ut neque massa, lacinia et consectetur ac, sodales ac risus. Proin ullamcorper, elit sit amet pulvinar aliquet, tellus ipsum dapibus ipsum, a tristique ligula leo sit amet tellus.</p>
                                 <a href="single" class="more-link">Read More &rarr;</a>
                                
                                
                                <div class="clearfix"></div>
                            </div>
                        </article>
                        
                        <div class="pagenav">
                        	<span class="prevpost"><a href="#">&larr; Older Post</a></span>
                            <span class="nextpost"><a href="#">Newer Post &rarr;</a></span>
                        </div>
                        
                    </div><!-- end padcontent -->
                </section><!-- end content -->
                <aside id="sidebar" class="positionright three columns omega">
                    <ul>
                         <li class="widget-container">
                            <h2 class="widget-title">Categories</h2>
                            <ul>
                                <li><a href="#">Interaction Design</a></li>
                                <li><a href="#">Worpdress</a></li>
                                <li><a href="#">Design Strategy</a></li>
                                <li><a href="#">Photography and Illustrator</a></li>
                                <li><a href="#">Uncategorized</a></li>
                            </ul>
                        </li>
                        <li class="widget-container">
                            <h2 class="widget-title">Text Widget</h2>
                            <div class="textwidget">Pellentesque at mauris fringilla nunc sollicitudin vehicula. Aliquam et nibh ipsum, vel porta augue. Sed dolor ligula, facilisis.</div>
                        </li>
                        <li class="widget-container">
                            <h2 class="widget-title">Latest Post</h2>
                            <ul class="rp-widget">
                                <li>
                                    <img src="images/content/lp1.jpg" alt="" class="alignleft" />
                                    <h3><a href="#">New Theme Released</a></h3>
                                    <span class="smalldate">April 27, 2012</span>
                                    <span class="clear"></span>
                                </li>
                                <li>
                                    <img src="images/content/lp2.jpg" alt="" class="alignleft" />
                                    <h3><a href="#">Premium Wordpress</a></h3>
                                    <span class="smalldate">April 22, 2012</span>
                                    <span class="clear"></span>
                                </li>
                                <li class="last">
                                    <img src="images/content/lp3.jpg" alt="" class="alignleft" />
                                    <h3><a href="#">We Create the Design</a></h3>
                                    <span class="smalldate">April 20, 2012</span>
                                    <span class="clear"></span>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </aside><!-- end sidebar -->
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER SIDEBAR -->
        <div id="outerfootersidebar">
        	<div class="container">
                <div id="footersidebarcontainer" class="twelve columns"> 
                    <footer id="footersidebar">
                    <div id="footcol1" class="three columns alpha">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">About Us</h2>
                            <p>Duis gravida consequat neque in euismod. Nunc nec quam ut neque dictum fringilla id sed est. </p>
                            <p>Nam malesuada mi ac dolor tempus adipiscing. Vestibulum congue pretium sem, congue facilisis nisi pellentesque vel. </p>
                        </li>
                    </ul>
                    </div>
                    <div id="footcol2" class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Our Gallery</h2>
                                <div class="gallery-pic">
                                	<a href="#"><img src="images/content/gal1.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal2.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal3.jpg" alt="" class="nomargin" /></a>
                                    <a href="#"><img src="images/content/gal4.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal5.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal6.jpg" alt="" class="nomargin" /></a>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol3" class="three columns">
                        <ul>
                          <li class="widget-container">
                            <h2 class="widget-title">Twitter Feed</h2>
                            <div id=""></div><!-- twitter container (don't remove) -->
                          </li>
                        </ul>
                    </div>
                    <div id="footcol4" class="three columns omega">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Our Address</h2>
                                <div class="textwidget">
                                <p>Discover - Office Blvd No. 356-357<br />
                                Jakarta, Indonesia</p>
                                <p>
                                Telp: +62 500 800 12345<br />
                                Fax: +62 500 800 12346<br />
                                Email: <a href="mailto:testmail@yourdomain.com">testmail@yourdomain.com</a><br />
                                Website: <a href="http://www.templatesquare.com" class="colortext">www.templatesquare.com</a>
                                </p>
                                
                                </div>
                          </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    </footer>
                    
                </div>
            </div>
        </div>

        <!-- END FOOTER SIDEBAR -->
        
        <!-- FOOTER -->
        <div id="outerfooter">
        	<div class="container">
        	<div id="footercontainer" class="twelve columns">
            	<footer id="footer">Copyright &copy;2012. All Rights Reserved. Collect from </footer>
                <div id="toTop">^ Back to Top</div>
            </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- jQuery Tweetable -->
<script type="text/javascript" src="js/jquery.tweetable.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>

<!-- Demo Switcher -->
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/switcher.js"></script>

<% include tpl/score.ejs %>

</body>
</html>
