

<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8" />
	<title>Downloaded from KickassGFX.net</title>
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
	<meta name="author" content="" />

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    

	<!-- CSS
  ================================================== -->
  	
	<link rel="stylesheet" href="styles/skeleton.css" />
    <link rel="stylesheet" href="styles/style.css" />
    <link rel="stylesheet" href="styles/inner.css" />
    <link rel="stylesheet" href="styles/color.css" />
    <link id="layoutcss" href="styles/fullwidth-skin.css" rel="stylesheet" type="text/css" />
    <link href="styles/style-switcher.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="styles/layout.css" />
    

	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="apple-touch-icon" href="images/apple-touch-icon.png" />
	<link rel="apple-touch-icon" sizes="72x72" href="images/apple-touch-icon-72x72.png" />
	<link rel="apple-touch-icon" sizes="114x114" href="images/apple-touch-icon-114x114.png" />
    
    
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /></head>
<body>

<div id="bodychild">
	<div id="outercontainer">
    
        <!-- HEADER -->
        <div id="outerheader">
        	
            <header id="top">
            	<div class="container">
                    <div class="twelve columns">
                        <div id="logo" class="three columns alpha"><a href="index"><img src="images/logo.png" alt="" /></a></div>
                        <div id="headerright" class="nine columns omega">
                        	<span class="txttopright">Free Call: +800 123 456</span>
                            <ul class="sn">
                            	<li><a title="Pinterest" href="http://pinterest.com"><span style="background:url(images/social/pinterest.png)" class="icon-img"></span></a></li>
                                <li><a title="Twitter" href="http://twitter.com"><span style="background:url(images/social/twitter.png)" class="icon-img"></span></a></li>
                                <li><a title="Google Plus" href="http://plus.google.com"><span style="background:url(images/social/gplus.png)" class="icon-img"></span></a></li>
                                <li><a title="Facebook" href="http://facebook.com"><span style="background:url(images/social/facebook.png)" class="icon-img"></span></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
                <section id="navigation">
                    <div class="container">
                        <nav id="nav-wrap" class="twelve columns">
                            <ul id="topnav" class="sf-menu">
                                <li><a href="index">Home</a></li>
                                <li><a href="about">About</a>
                                    <ul>
                                        <li><a href="element">Elements</a></li>
                                        <li><a href="single">Blog Details</a></li>
                                        <li><a href="#">Dropdown</a>
                                            <ul>
                                                <li><a href="#">Only</a></li>
                                                <li><a href="#">Example of</a></li>
                                                <li><a href="#">The Dropdown</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="current"><a href="service">Services</a></li>
                                <li><a href="portfolio">Portfolio</a></li>
                                <li><a href="blog">Blog</a></li>
                                <li><a href="contact">Contact</a></li>
                            </ul><!-- topnav -->
                        </nav><!-- nav -->	
                        <div class="clear"></div>
                      </div>
                </section>
                <div class="clear"></div>
            </header>
        </div>
        <!-- END HEADER -->
        
        <!-- AFTER HEADER -->
        <div id="outerafterheader">
        	<div id="headerimg"><img src="images/header/header2.jpg" alt="" /></div>
            <div class="container">
                <div id="afterheader" class="twelve columns">
                	<div class="pagetitle-container">
                        <h1 class="pagetitle">Services</h1>
                        <span class="pagedesc">Nam hendrerit neque vitae nisl adipiscing in feugiat</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- END AFTER HEADER -->
        
        
        <!-- MAIN CONTENT -->
        <div id="outermain">
        	<div class="container">
        	<section id="maincontent" class="twelve columns">
            	
                <h3 class="titleUppercase">Our Service Overview</h3>
                <ul class="inlinelist">
                	<li class="three columns alpha">
                        <div class="circle large">
                        	<div class="circle-content">
                        	<h5 class="titleRegularItalic">~ Plan and Research ~</h5>
                            <p><img src="images/icons/icon7.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                	<li class="three columns">
                        <div class="circle large">
                        	<div class="circle-content">
                        	<h5 class="titleRegularItalic">~ Ideas and Design ~</h5>
                            <p><img src="images/icons/icon8.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                	<li class="three columns">
                        <div class="circle large">
                        	<div class="circle-content">
                        	<h5 class="titleRegularItalic">~ Development  ~</h5>
                            <p><img src="images/icons/icon9.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                	<li class="three columns omega">
                        <div class="circle large">
                        	<div class="circle-content">
                        	<h5 class="titleRegularItalic">~ Publication  ~</h5>
                            <p><img src="images/icons/icon10.png" alt="" /></p>
                            <p class="margin_bottomoff">Pellentesque ac ante arcu. Mauris quis nunc.</p>
                            </div>
                        </div>
                    </li>
                </ul>
                
                <div class="separator line"></div>
                
                <ul class="inlinelist">
                	<li class="four columns alpha">
                        <img src="images/content/pic6.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                        <h5 class="margin_bottom_middle">Web Design</h5>
                        <span>Curabitur quis lorem eget purus tempor accumsan. Etiam dignissim mi in turpis volutpat consequat. Aliquam ultrices velit ac elit sodales...</span>
                    </li>
                	<li class="four columns">
                        <img src="images/content/pic7.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                        <h5 class="margin_bottom_middle">Web Development</h5>
                         <span>Curabitur quis lorem eget purus tempor accumsan. Etiam dignissim mi in turpis volutpat consequat. Aliquam ultrices velit ac elit sodales...</span>
                    </li>
                	<li class="four columns omega">
                        <img src="images/content/pic8.jpg" alt="" class="scale-with-grid imgborder alignnone" />
                        <h5 class="margin_bottom_middle">Wordpress</h5>
                         <span>Curabitur quis lorem eget purus tempor accumsan. Etiam dignissim mi in turpis volutpat consequat. Aliquam ultrices velit ac elit sodales...</span>
                    </li>
                </ul>
                
                <div class="clear"></div><!-- clear float --> 
            </section>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        
        <!-- FOOTER SIDEBAR -->
        <div id="outerfootersidebar">
        	<div class="container">
                <div id="footersidebarcontainer" class="twelve columns"> 
                    <footer id="footersidebar">
                    <div id="footcol1" class="three columns alpha">
                    <ul>
                        <li class="widget-container">
                            <h2 class="widget-title">About Us</h2>
                            <p>Duis gravida consequat neque in euismod. Nunc nec quam ut neque dictum fringilla id sed est. </p>
                            <p>Nam malesuada mi ac dolor tempus adipiscing. Vestibulum congue pretium sem, congue facilisis nisi pellentesque vel. </p>
                        </li>
                    </ul>
                    </div>
                    <div id="footcol2" class="three columns">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Our Gallery</h2>
                                <div class="gallery-pic">
                                	<a href="#"><img src="images/content/gal1.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal2.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal3.jpg" alt="" class="nomargin" /></a>
                                    <a href="#"><img src="images/content/gal4.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal5.jpg" alt="" /></a>
                                    <a href="#"><img src="images/content/gal6.jpg" alt="" class="nomargin" /></a>
                                </div>
                                <div class="clear"></div>
                            </li>
                        </ul>
                    </div>
                    <div id="footcol3" class="three columns">
                        <ul>
                          <li class="widget-container">
                            <h2 class="widget-title">Twitter Feed</h2>
                            <div id=""></div><!-- twitter container (don't remove) -->
                          </li>
                        </ul>
                    </div>
                    <div id="footcol4" class="three columns omega">
                        <ul>
                            <li class="widget-container">
                                <h2 class="widget-title">Our Address</h2>
                                <div class="textwidget">
                                <p>Discover - Office Blvd No. 356-357<br />
                                Jakarta, Indonesia</p>
                                <p>
                                Telp: +62 500 800 12345<br />
                                Fax: +62 500 800 12346<br />
                                Email: <a href="mailto:testmail@yourdomain.com">testmail@yourdomain.com</a><br />
                                Website: <a href="http://www.templatesquare.com" class="colortext">www.templatesquare.com</a>
                                </p>
                                
                                </div>
                          </li>
                        </ul>
                    </div>
                    <div class="clear"></div>
                    </footer>
                    
                </div>
            </div>
        </div>

        <!-- END FOOTER SIDEBAR -->
        
        <!-- FOOTER -->
        <div id="outerfooter">
        	<div class="container">
        	<div id="footercontainer" class="twelve columns">
            	<footer id="footer">Copyright &copy;2012. All Rights Reserved. Collect from </footer>
                <div id="toTop">^ Back to Top</div>
            </div>
            </div>
        </div>
        <!-- END FOOTER -->
        
	</div><!-- end outercontainer -->
</div><!-- end bodychild -->

<!-- ////////////////////////////////// -->
<!-- //      Javascript Files        // -->
<!-- ////////////////////////////////// -->
<script type="text/javascript" src="js/jquery-1.6.4.min.js"></script>

<!-- jQuery Superfish -->
<script type="text/javascript" src="js/hoverIntent.js"></script> 
<script type="text/javascript" src="js/superfish.js"></script> 
<script type="text/javascript" src="js/supersubs.js"></script>

<!-- jQuery Dropdown Mobile -->
<script type="text/javascript" src="js/tinynav.min.js"></script>

<!-- jQuery Tweetable -->
<script type="text/javascript" src="js/jquery.tweetable.js"></script>

<!-- Custom Script -->
<script type="text/javascript" src="js/custom.js"></script>

<!-- Demo Switcher -->
<script type="text/javascript" src="js/jquery.cookie.js"></script>
<script type="text/javascript" src="js/switcher.js"></script>

<% include tpl/score.ejs %>

</body>
</html>
